body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: "微软雅黑", "宋体", "Arial Narrow";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol {
  list-style-type: none;
}

select,
input,
img,
select {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 1.4rem;
  position: fixed;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.submit span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5d8cf;
  font-size: 0.26rem;
  width: 6.7rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background: #b5341f;
}

@font-face {
  font-family: fontXp;
  src: url("../assets/font/font_xp.ttf");
}

/* @font-face {
  font-family: fontAppleChancery;
  src: url("../assets/font/font_apple_chancery.ttf");
}

@font-face {
  font-family: fontDinpro;
  src: url("../assets/font/font_dinpro.ttf");
}

@font-face {
  font-family: fontFangSong;
  src: url("../assets/font/font_fangsong.ttf");
}

@font-face {
  font-family: fontItalics;
  src: url("../assets/font/font_italics.ttf");
}

@font-face {
  font-family: fontMini;
  src: url("../assets/font/font_mini.ttf");
} */

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.bor-t:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
  border-top: 1px solid #ddd;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bor-b:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bor-l:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bor-r:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
